
/* * {
    border: 1px solid;
} */
.tile.is-parent {
    margin-top: 25px;
}

.tile.is-child.box {
    height: 200px;
    width: 200px;
    text-align: center;
}

.hero.is-medium.is-bold {
    background-color: #735AFE;
    color: white;
}

.maintitle {
    font-size: 150px;
    text-align: center;
    font-family: 'Monofett', cursive;
}

.subtitle {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
}

.title {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    color: #735AFE;
}


#cool {
    margin-top: 25px;
    font-size: 90px;
    color: #735AFE;
    font-family: 'Fredoka One', cursive;
}

a.moods {
    color: #735AFE;
   transition: .2s ease-in-out all;
}

a.moods:hover {
    color: white;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #735AFE;
}



.fullWidth {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}


h2 { 
    font-size: 50px;
    text-align: center;
    background-color: #735AFE;
    margin: 0px;
    color: white;
    font-family: 'Fredoka One', cursive;
}

h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Fredoka One', cursive;
}


.button.is-large.is-rounded {
    color: white;
    background-color: #735AFE;
    font-size: 25px;
}

a.button.is-large.is-rounded:hover {
    color: #735AFE;
    background-color: white;
    outline-color: #735AFE solid;
}

.yes {
    text-align: center;
} 

.tile.is-vertical-center {
    display: flex;
    align-items: center;

}
